aiohttp==3.8.1
aiohttp-cors==0.7.0
aioredis==1.3.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.10.0
blessed==1.19.1
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
colorful==0.5.4
ctrl-benchmark @ git+git://github.com/facebookresearch/CTrLBenchmark.git@06efd8649cecfab18d430ca2f366f42fb17e009b
cycler==0.11.0
decorator==5.1.1
Deprecated==1.2.13
docopt==0.6.2
filelock==3.6.0
fonttools==4.29.1
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.5.0
google-auth==2.6.0
googleapis-common-protos==1.55.0
gpustat==1.0.0b1
grpcio==1.44.0
hiredis==2.0.0
idna==3.3
imageio==2.16.1
importlib-resources==5.4.0
joblib==1.1.0
json2html==1.3.0
jsonpatch==1.32
jsonpickle==1.5.2
jsonpointer==2.2
jsonschema==4.4.0
kiwisolver==1.3.2
lxml==4.8.0
matplotlib==3.5.1
more-itertools==8.12.0
msgpack==1.0.3
multidict==6.0.2
munch==2.5.0
networkx==2.3
numpy==1.22.2
nvidia-ml-py3==7.352.0
opencensus==0.8.0
opencensus-context==0.1.2
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
plotly==5.6.0
prometheus-client==0.13.1
protobuf==3.19.4
psutil==5.9.0
py-cpuinfo==8.0.0
py-spy==0.3.11
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pydot==1.4.2
pymongo==4.0.1
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytorch-ignite @ git+git://github.com/pytorch/ignite.git@3d9ba50bba42438a63183b3db0d4cc3a5e9b01ac
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
ray==1.10.0
redis==4.1.4
requests==2.27.1
rsa==4.8
sacred @ git+git://github.com/TomVeniat/sacred.git@588c01ff9d123e2c4f2deefeb43ca1b10687c77f
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
soupsieve==2.3.1
supernets @ git+git://github.com/TomVeniat/SuperNetworks@5f12ea59dfe9c91e71a66d67f87875f0e086be85
tabulate==0.8.9
tenacity==8.0.1
tensorboardX==2.5
threadpoolctl==3.1.0
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.63.0
typing_extensions==4.1.1
urllib3==1.26.8
visdom @ git+git://github.com/TomVeniat/visdom.git@088890d27c8699d22f969d006b5cc33ff8f84c20
wcwidth==0.2.5
websocket-client==1.3.1
wrapt==1.13.3
yarl==1.7.2
zipp==3.7.0
